<!DOCTYPE html>
<html>
    <head>
        <style type="text/css">
{styles}
        </style>
    </head>
    <body>
        <!-- Main Container -->
        <div class="container">
            <!-- Header Section -->
            <div class="header">
                <img src="cid:logo" alt="JKP Logo" class="logo">
                <div class="header-text">
                    <h1>{message}</h1>
                </div>
            </div>

            <!-- Content Section -->
            <div class="content">
                <!-- Video Thumbnail -->
                <div class="image-container">
                    <a href="{video_url}" target="_blank">
                        <img src="cid:video_thumbnail" alt="Video Thumbnail">
                    </a>
                </div>
                <!-- Call to Action Button -->
                <div class="button-container">
                    <a href="https://www.leelabliss.org" target="_blank" class="button">Watch on www.leelabliss.org</a>
                </div>
            </div>

            <!-- Footer Section -->
            <div class="footer">
                &copy; {year} Leela Bliss | This is an automated notification
            </div>
        </div>
    </body>
</html>
